include README.md LICENSE CHANGELOG.md ROADMAP.md CONTRIBUTING.md TODO.md requirements.txt
recursive-include config *.yaml
recursive-include docs *.md
recursive-include systemd *.service
recursive-include src/pug/assets *.png
